{% extends "layout.html" %}

<!-- webpage title shown on tab -->
{% block title%}Register{% endblock %}

<!-- webpage body main content -->
{% block main %}

    <!-- form to input username, password, confirmation password -->
    <form class="submitform" action="/register" method="POST">
        <!-- input email -->
        <div>
            <input autocomplete="off" name="email" placeholder="Email" type="email" size="30">
        </div>
        <!-- input password -->
        <div>
            <input autocomplete="off" name="password" placeholder="Password" type="password" id="password">
        </div>
        <!-- input password again(confirmation) -->
        <div>
            <input autocomplete="off" name="confirmation" placeholder="Confirm Password" type="password" id="confirmation">
        </div>
        <!-- input whether to show password -->
        <div class="showpassword">
            <input type="checkbox" id="showpassword"><label>Show Password</label>
        </div>
        <!-- submit button -->
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
    <!-- JavaScript to toggle password visibility -->
    <script>
        function show()
        {
            let password = document.querySelector('#password');
            if (password.type === "password")
            {
                password.type = "text";
            }
            else
            {
                password.type = "password";
            }
            let confirmation = document.querySelector('#confirmation');
            if (confirmation.type === "password")
            {
                confirmation.type = "text";
            }
            else
            {
                confirmation.type = "password";
            }
        }
        document.querySelector('#showpassword').addEventListener('click', show);
    </script>
{% endblock%}